.login .scroll {
    height: 100%;
}

.login * {
    font-family: "Josefin Sans" !important;
}

.login .grid {
    position: absolute;
    padding: 15px;
    top: 15%;
    right: 0;
    left: 0;
    bottom: 15%;
    height: 70%;
}

.login .logo {
    padding: 10px 30px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.login .input {
    padding: 15px 10px;
    border-radius: 4px;
    height: auto;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 15px;
}