<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">
			Kayıt ol
		</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Adın</span>
				<input placeholder="null" ng-model="regUser.name" type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Soyadın</span>
				<input placeholder="null" ng-model="regUser.surname" type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">E-mail</span>
				<input placeholder="null" ng-model="regUser.mail" type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Şifre</span>
				<input placeholder="null" ng-model="regUser.password" type="text">
			</label>

			<label class="item item-input">
				<span class="input-label">Şifre Tekrar</span>
				<input placeholder="null" ng-model="regUser.password2" type="text">
			</label>

			<label class="item item-input">
				<span class="input-label">Doğum Tarihi</span>
				<input placeholder="null" ng-model="regUser.birth" type="date">
			</label>
			<div class="padding">
				<button class="button button-block button-positive" ng-click="registerUser()">
					insert into user values ('{{regUser.name ? regUser.name : "null"}}', '{{regUser.surname ? regUser.surname : "null" }}', '{{regUser.mail ?regUser.mail : "null" }}', '{{regUser.birth ? regUser.birth : "null" | date: 'dd-MM-yyyy'}}')
				</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>