<ion-header-bar class="bar-stable">
	<h1 class="title user-badges">
		<div class="tabs">
		    <a class="tab-item" ng-click="openCoins('heart')">
		        <span class="balanced"><i class="ion-ios-heart"></i> {{myUser.heart}}</span>
		    </a>
		    <a class="tab-item" ng-click="openCoins('bug')">
				<span class="assertive"><i class="ion-bug"></i> {{myUser.bug}}</span>
		    </a>
		    <a class="tab-item" ng-click="openCoins('fire')">
				<span class="royal"><i class="ion-ios-flame"></i> {{myUser.fire}}</span>
		    </a>
		    <a class="tab-item" ng-click="openCoins('key')">
				<span class="dark"><i class="ion-key"></i> {{myUser.key}}</span>
		    </a>
		</div>
	</h1>
</ion-header-bar>
<ion-nav-view></ion-nav-view>
<ion-tabs>
    <a class="tab-item" href="#/app/main">
        Ev
    </a>
    <a class="tab-item" href="#/app/friends">
    	Arkadaşlar
    </a>
    <a class="tab-item" href="#/app/contribution">
    	Katkı
    </a>
    <a class="tab-item" href="#/app/profile/me">
        Profil
    </a>
</ion-tabs>