<ion-view>
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-clear icon ion-arrow-left-c"></button>
        </div>
        <h1 class="title" ng-show="$parent.game.result == null">
            {{game.time}}
            <span class="timer" style="width: {{ 10 * game.time}}%; background: {{game.time > 5 ? '#afa' : 'red';}};"></span>
        </h1>
    </ion-header-bar>
    <ion-content class="play has-footer">
        <div class="game">
            <div class="game-top-bar">
                <div class="game-question newBute">
                    <textarea placeholder="Soru Nedir ?" ng-model="newBute.qname"></textarea>
                </div>
            </div>
            <div class="game-content">
                <ul class="game-options">
                    <input class="button button-block button-light"
                        ng-repeat="item in newBute.questions track by $index"
                        ng-class="{'button-balanced': item.trueOption}"
                        on-hold="useOption($index)"
                        ng-model="newBute.questions[$index].text"
                        placeholder="Şık {{$index}} - Basılı Tutun">
                    <li class="button button-positive item-right" ng-click="sendQuestion()">
                        Katkıda Bulun
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>