<ion-view>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-repeat="user in users track by $index" ng-click="getUserCard(user.usid)">
                <img ng-src="{{user.img}}" />
                <h2>{{user.name}}</h2>
                <p class="user-badges">
                	<span class="assertive"><i class="ion-bug"></i> {{user.coins.bug}}</span>	
                	<span class="royal"><i class="ion-ios-flame"></i> {{user.coins.fire}}</span>
                	<span class="dark"><i class="ion-key"></i> {{user.coins.key}}</span>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>