<div class="game">
    <div class="game-top-bar">
        <div class="game-question">
            {{game.question}}
        </div>
    </div>
    <div class="game-content">
        <ul class="game-options">
            <li class="button button-block button-positive"
            	ng-repeat="item in game.options track by $index"
            	ng-class="{'button-assertive' : $index == game.click, 'button-balanced': $index == game.trueOption}"
            	ng-click="useOption($index);">
            	{{item}}
            </li>
        </ul>
    </div>
    <div class="tabs">
        <a class="tab-item" ng-click="openCoins('key')">
            <span class="dark">
                İpucu
                <i class="ion-key">
                </i>
                5
            </span>
        </a>
        <a class="tab-item" ng-click="openCoins('fire')">
            <span class="royal">
                Atla
                <i class="ion-ios-flame">
                </i>
                5
            </span>
        </a>
    </div>
</div>