<ion-view>
	<ion-content>
		<div class="login">
			<form onsubmit="return false">
				<center>
					<img class="col-50" ng-src="resources/img/main.png" style="margin-bottom:10px;"/>
				</center>
				<label class="item item-input item-floating-label">
					<span class="input-label">Kullanıcı Adı</span>
					<input placeholder="Kullanıcı Adı" ng-model="user.name" type="text">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Şifre</span>
					<input placeholder="Şifre" ng-model="user.password" type="password">
				</label>
				<div class="padding">
					<button class="button button-block button-positive" ng-click="login(user)" type="submit">
						Giriş Yap <i class="ion-log-in"></i>
					</button>
				</div>
				<div class="padding">
					<button class="button button-block button-positive" ng-click="register()">
						Kayıt ol <i class="ion-log-in"></i>
					</button>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>