<ion-view>
	<ion-content class="login">
		<div class="grid">
			<div class="logo">
				<img src="resources/img/main.png" alt="">
			</div>
			<form onsubmit="return false">
				<input class="input" placeholder="Kullanıcı Adı" ng-model="user.name" type="text">
				<input class="input" placeholder="Şifre" ng-model="user.password" type="password">
				<button class="button button-block button-positive" ng-click="login(user)" type="submit">
					Giriş Yap <i class="ion-log-in"></i>
				</button>
				<!-- <button class="button button-block button-positive" ng-click="register()">
					Kayıt ol <i class="ion-log-in"></i>
				</button> -->
			</form>
		</div>
	</ion-content>
</ion-view>