<ion-view>
    <ion-content>
        <div class="list card new-game">
            <div class="item item-divider">
                <center>Oynamak İçin Buga Tıkla</center>
            </div>
            <a class="item dark" href="#/app/game">
                <img src="resources/img/main.png" alt="">
            </a>
        </div>
        <div class="list card">
            <div class="item item-divider">
                <center>Şu an Oynadıklarım</center>
            </div>
            <a class="item item-avatar" href="#">
                <img src="resources/img/eker.png">
                <h2>Kodçero</h2>
                <p>
                    <span class="badge badge-assertive">null - 5</span>
                    12 Tem 2016 - <span class="assertive">Sıra Onda</span>
                    <span class="balanced">Sıra Sende</span>
                </p>
            </a>
        </div>
        <div class="list card assertive">
            <div class="item item-divider">
                <center>Bir Zamanlar Oynadıklarım</center>
            </div>
            <a class="item item-avatar" href="#">
                <img src="resources/img/eker.png">
                <h2>Bugger</h2>
                <p>
                    <span class="badge badge-assertive">5 - null</span>
                    12 Tem 2016 - <span class="balanced">Güzel yenmiştin</span>
                    <span class="assertive">Kabetmiştin</span>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
