<ion-view>
    <ion-header-bar class="bar-balanced playstore-header">
        <div class="buttons">
            <a class="button button-icon ion-arrow-left-c" ui-sref="home">
            </a>
        </div>
        <h1 class="title">
            Facebook
        </h1>
        <div class="buttons">
            <a class="button button-icon ion-ios-search">
            </a>
            <a class="button button-icon ion-android-more-vertical">
            </a>
        </div>
    </ion-header-bar>
    <!-- end of ionic header bar -->
    <ion-content class="has-footer">
        <img class="full-image" src="http://www.brautbox.de/local/albums/article1024/hochzeit-in-der-tuerkei_hpv.jpg"/>
        <div class="row">
            <div class="col">
                <img class="full-image" ng-src="{{user.photo}}"/>
            </div>
            <div class="col col-75">
                <b>
                    {{user.usname}}
                    <button ng-if="!user.me" class="button button-small icon-left ion-person-add" style="float:right">Takip et</button>
                </b>
                <br/>
                Debugger
                <br/>
                <span class="assertive" style="font-size:40px">
                    <i class="ion-bug">
                    </i>
                    {{user.uspoint}}
                </span>
            </div>
        </div>
        <!-- görev kartı -->
        <ion-list>
            <div class="card" ng-if="user.me">
                <ion-item class="item-divider">
                    Görev Kartı - <span class="assertive">false</span>
                </ion-item>
                <ion-item>
                    <div class="row item-text-wrap text-center">
                        <div class="col col-50">
                            <pre style="display:inline-block;">(<span class="balanced">1</span>/30) == 1 </pre>
                            <p>
                                Doğru Cevap
                            </p>
                        </div>
                        <div class="col col-50">
                            <pre style="display:inline-block;">(<span class="balanced">1</span>/10) == 1 </pre>
                            <p>
                                Soru Katkısı
                            </p>
                        </div>
                    </div>
                    <div class="row text-center item-text-wrap">
                        <div class="col">Görev Kartı Ödülü <br/><b>10 BUG, 10 ATEŞ</b> </div>
                    </div>
                </ion-item>
            </div>

            <div class="card">
                <ion-item class="item-divider">
                    İstatistik
                </ion-item>
                <ion-item>
                    <div class="row">
                        <div class="col col-50">
                            Debug <span class="color-demo calm-bg calm-border"></span> 
                        </div>
                        <div class="col col-50">
                            M. İngilizce <span class="color-demo balanced-bg balanced-border"></span> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            Algoritma <span class="color-demo assertive-bg assertive-border"></span> 
                        </div>
                        <div class="col col-50">
                            Wiki <span class="color-demo royal-bg royal-border"></span> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pace pace-active">
                            <div class="pace-progress calm-bg" style="width:20%">
                                 20
                            </div>
                            <div class="pace-progress balanced-bg" style="width:60%">
                                 60
                            </div>
                            <div class="pace-progress assertive-bg" style="width:10%">
                                 10
                            </div>
                            <div class="pace-progress royal-bg" style="width:30%">
                                 30
                            </div>
                            
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>