<ion-view>
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-clear icon ion-arrow-left-c"></button>
        </div>
        <h1 class="title">
            {{game.title}}
        </h1>
    </ion-header-bar>
    <ion-content class="gameDash">
        <div class="row">
            <div class="col col-25">
                <div class="g-dash-img">
                    <img src="resources/img/eker.png" alt="">
                </div>
                <div class="g-dash-types">
                    <div class="debug">Debug</div>
                    <div class="eng">M. İngilizce</div>
                    <div class="algorithm">Algoritma</div>
                    <div class="wiki">Wiki</div>
                </div>
            </div>
            <div class="col">
                Ne de zor
            </div>
            <div class="col col-25">
                <div class="g-dash-img">
                    <img src="resources/img/marivana.gif" alt="">
                </div>
                <div class="g-dash-types g-dash-types-right">
                    <div class="debug">Debug</div>
                    <div class="eng">M. İngilizce</div>
                    <div class="algorithm">Algoritma</div>
                    <div class="wiki">Wiki</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>