<ion-view>
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-clear icon ion-arrow-left-c"></button>
        </div>
        <h1 class="title" ng-show="$parent.game.result == null">
            {{game.time}}
            <span class="timer" style="width: {{ 10 * game.time}}%; background: {{game.time > 5 ? '#afa' : 'red';}};"></span>
        </h1>
    </ion-header-bar>
    <ion-content class="play">
        <div class="game">
            <div class="game-top-bar">
                <!-- <div class="game-question" ng-class="game.type.class">
                    {{game.question}}
                </div> -->
                <div class="game-question" ng-class="game.type.class" ng-bind-html="game.question"></div>
            </div>
            <div class="game-content">
                <ul class="game-options">
                    <li class="button button-block button-light"
                    	ng-repeat="item in game.options track by $index"
                    	ng-class="{'button-assertive' : $index == game.click, 'button-balanced': $index == game.trueOption}"
                    	ng-click="useOption($index);">
                    	{{item}} {{game.type.fontSize}}
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
<div class="tabs">
    <a class="tab-item" ng-click="openCoins('key')">
        <span class="dark">
            İpucu
            <i class="ion-key">
            </i>
            {{myUser.key}}
        </span>
    </a>
    <a class="tab-item" ng-click="openCoins('fire')">
        <span class="royal">
            Atla
            <i class="ion-ios-flame">
            </i>
            {{myUser.fire}}
        </span>
    </a>
</div>